.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 50px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px; }
  .header__logo {
    height: 40px;
    width: 40px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0; }
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .nav__item:not(:last-child) {
    margin-right: 20px; }
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    position: relative;
    line-height: 14px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none; }
    .nav__link--active, .nav__link:hover {
      color: #00acdc; }
    .nav__link--active::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: #00acdc; }
  .nav__button {
    display: none; }

@media screen and (max-width: 949px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%; }
  .nav {
    width: 100%; }
    .nav__list {
      display: none;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 60px;
      right: 0;
      left: 0; }
    .nav__item {
      width: 100%; }
    .nav__link {
      width: 100%;
      background-color: #fff;
      color: #35477d;
      padding-left: 15px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
      transition: color 300ms ease-in-out, background-color 300ms ease-in-out; }
    .nav__link:hover {
      color: #fff;
      background-color: #00acdc; }
    .nav__button {
      display: block;
      position: absolute;
      top: 8px;
      right: 15px;
      height: 40px;
      width: 40px;
      cursor: pointer;
      border-radius: 8px;
      -webkit-box-shadow: 2px 2px 3px #375980;
              box-shadow: 2px 2px 3px #375980;
      background-color: #fff;
      color: #00acdc;
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      outline: none;
      -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
      transition: color 300ms ease-in-out, background-color 300ms ease-in-out; }
      .nav__button:active,
      .nav__button:focus ~ .nav__list {
        display: block; }
      .nav__button:hover {
        background-color: #00acdc;
        color: #000; } }

.card {
  width: 200px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 30px 14px 15px; }
  .card:hover {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07); }
  .card__img {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto; }
  .card__info {
    margin-top: 45px;
    margin-bottom: 15px; }
  .card__title {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    margin-bottom: 5px; }
  .card__rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 20px; }
  .card__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__star {
    height: 15px;
    width: 15px;
    background: url(/images/star.svg) no-repeat center; }
    .card__star:not(:last-child) {
      margin-right: 4px; }
    .card__star:nth-child(-n+4) {
      background: url(/images/star-active.svg) no-repeat center; }
  .card-cost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
    margin-bottom: 20px; }
    .card-cost__value {
      font-size: 16px;
      font-weight: bold; }
  .card__button {
    width: 100%;
    line-height: 36px;
    background-color: #00acdc;
    border-radius: 5px;
    border: 1px solid #00acdc;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: roboto, sans-serif;
    -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out; }
    .card__button:hover {
      color: #00acdc;
      background-color: #fff; }

.card {
  margin: 0 24px 50px; }
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1100px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  font-family: roboto, sans-serif;
  font-size: 11px; }

p {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
